@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

body {
  font-family: "Inter", sans-serif;
  color: white;
  width: 100vw;
  height: 100vh;
  margin: 0;
  font-size: 16px;
}

:root {
  --bgcolor1: #444;
  --bgcolor2: #777;
  --accent: #1d740b;
}

#map {
  width: 100%;
  overflow: hidden;

  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  flex-grow: 1;
}

.leaflet-control-container {
  display: none;
}

.mainContainer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

#tooltips {
  background-color: var(--bgcolor1);
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  overflow: hidden;
  position: relative;
}

.tooltipsSwipeContainer {
  height: 30px;
  box-sizing: border-box;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
}

.tooltipsSwipeButton {
  background-color: var(--bgcolor2);
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.placeInfo {
  padding: 10px;
  max-height: calc(100% - 30px);
  overflow: hidden scroll;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-block-start: 0.25em;
  margin-block-end: 0.25em;
}
a {
  text-decoration: underline;
  color: rgb(0, 145, 255);
  -webkit-tap-highlight-color: transparent;
}

#backButton {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 30px;
  height: 30px;
  opacity: 1;
  background-color: #0008;
  border-radius: 50%;
}

.backButtonInner {
  width: 30px;
  height: 30px;
  background-color: #000a;
  clip-path: polygon(15% 50%, 75% 20%, 75% 80%);
}

#mainmenu {
  transition: 300ms;
  top: 0;
  left: 0;
  translate: 0 0;
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  background-color: var(--bgcolor1);
  box-sizing: border-box;
}

#mainmenu.hidden {
  translate: -100% 0;
}

.backgroundMapImage {
  display: block;
  color: black;
  width: 100%;
  aspect-ratio: calc(529 / 339 * 2);
  filter: grayscale(100%);
  background-image: linear-gradient(to top, var(--bgcolor1) 10%, transparent 55%), url("./mapBg.png");
}

.appTitle {
  text-decoration: none;
  display: flex;
  position: absolute;
  top: 10px;
  left: 0;
  color: var(--accent);
  font-size: 2em;
  width: 100%;
  box-sizing: border-box;
  font-weight: 900;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
}
.userinfo {
  padding-left: 10px;
  padding-right: 10px;
}
